# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
ENV/
backend/.venv/

# Node modules and build output (JavaScript)
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# Large Model files (ONNX, Pickle, NPZ, index)
*.onnx
*.onnx.data
*.pkl
*.npz
*.index

# Models directories
/ai_models/
ai_models/
backend/app/models/

# IDE files
.vscode/
.idea/

# Database files
/faiss_indexes/
faiss_indexes/
